header {
    width: 90%;
    margin: auto;
}

header img {
    height: 50%;
}

.carousel-caption p{
    color: #F9FBF2;
}

.carousel-caption h5 {
    color: #D7F9FF;
}

.carousel-caption a {
    text-decoration: none;
    color: #D7F9FF;
}


.carousel-inner img {
    width: 100%;
    height: 700px;
}

.carousel-second p {
    color: grey;
}


